.SelfSearch {
  max-height: 51px;
  flex-shrink: 0;
  background: white;
  padding: 15px 100px 4px 20px;
  transition: max-height 300ms ease;
  position: relative;
  overflow: hidden;
  .submit{
    position: absolute;
    right: 44px;
    top: 14px;
  }
  .down{
    position: absolute;
    right: 12px;
    top: 12px;
  }
}
